*{
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    background-color: #ffff;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #0126ac3f;
    padding-block: 25px;
    padding-left: 70px;
    padding-right: 80px;
}


.logo{
    padding-top: 250px;
    padding-left: 70px;
   
}

li, a{
    font-family: "arial";
    font-weight: 100px;
    font-size: 20px;
    color: white;
    margin: 0px;
    text-decoration: none;
}

ul, li{
    display: inline-block;
    padding: 5px;
}

.nama{
    padding: 0px;
    margin: 0px;
    display: block;
}

tr, td{
    padding-right: 30px;
}

section{
    display: flex;
    justify-content: space-between;
}

.jeda{
    padding: 160px;
}

.email{
    height: auto;
    width: 50%;
}

address{
    text-decoration: none;
    font-size: 30px;
}

.kontak{
    font-size: 30px;
}

.footer{
    margin: auto;
    width: 50%;
}
.tdfooter{
    margin: auto;
}
